body
{
    font-family: 'Noto Sans', Verdana, sans-serif;
    color: #0b0c0c;
}
.navbar-gbc {
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    background-color: #009688;
    margin-top: 0;
}
.navbar-gbc .navbar-toggle .icon-bar
{
    background-color: #fff;
}
.navbar-gbc .navbar-toggle
{
    margin-top: 13px;
}
.navbar-brand {
    color: #fff;
    font-size: 24px;
    line-height: inherit;
    margin-bottom: -1px;
    height: auto;
}

    .navbar-brand:hover {
        color: #fff;
        text-decoration: underline;
    }

a {
    color: #0277bb;
}

    a:hover {
        color: #01476f;
    }
    .navbar-nav>li>a
    {
        color: #fff;
    }
    .navbar-gbc .open > a,
    .navbar-gbc .open > a:hover,
    .navbar-gbc .open > a:focus,
    .navbar-nav > li > a:hover
    {
        background-color: inherit;
        text-decoration: underline;
    }
    .navbar-gbc .navbar-nav
    {
        margin-top: 6px;
    }
.page-header {
    margin-top: 0;
}

footer {
    background: #eee;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 1em;
}
.service-stage
{
    margin-top: -20px;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}
.service-stage-pre-alpha,
.label-pre-alpha
{
    background-color: #912b88;
    color: #fff;
}
.service-stage-alpha,
.label-alpha
{
	background-color: #d53880;
}
.service-stage-beta,
.label-beta
{
	background-color: #f47738;
}
.service-stage-live,
.label-live
{
	background-color: #85994b;
}
.service-stage-retirement,
.label-retirement
{
	background-color: #bfc1c3;
}

.github-icon-svg,
.twitter-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.list-contents-top-divider .list-group-item {
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.list-contents-bottom-divider .list-group-item {
    margin-bottom: 0;
    border-width: 0 0 1px;
}

.list-contents .list-group-item:first-child,
.list-contents .list-group-item:last-child {
    border-radius: 0;
}