<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

<header role="banner" class="navbar navbar-gbc">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}/" title="Go to the Localo homepage" class="navbar-brand">
                {{ site.title }}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About</a></li>
                <li><a href="get-involved.html">Get involved</a></li>
            </ul>
        </div>
    </div>
</header>