<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}{% if page.title %} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.guildford.gov.uk/assets/main.css">
    <link rel="apple-touch-icon" sizes="57x57" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//cdn.guildford.gov.uk/assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="//cdn.guildford.gov.uk/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="//cdn.guildford.gov.uk/assets/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="//cdn.guildford.gov.uk/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//cdn.guildford.gov.uk/assets/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="//cdn.guildford.gov.uk/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="//cdn.guildford.gov.uk/assets/manifest.json">
    <link rel="shortcut icon" href="//cdn.guildford.gov.uk/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="//cdn.guildford.gov.uk/assets/mstile-144x144.png">
    <meta name="msapplication-config" content="//cdn.guildford.gov.uk/assets/browserconfig.xml">
    <meta name="theme-color" content="#009688">
    <meta name="robots" content="noindex,follow">
    <link rel="nuget" type="application/rsd+xml" href="https://www.myget.org/Discovery/Feed/guildford-bc/">
</head>
